[flake8]
docstring-convention = pydocstyle
ignore = E203, E266, E501, W503
max-line-length = 88
exclude =
    .git,
    __pycache__,
    build,
    dist,
    docs,
    *.egg-info,
    *.pyc,
    *.pyo,
    *.egg,
    .venv
[pydocstyle]
ignore = D205, D400